@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.primary-font {
    font-family: "Work Sans", sans-serif, poppins;
    font-optical-sizing: auto;
    font-style: normal;
} 

/* header-style */

header {

    width: 1320px;
    margin: 100px auto;
}

/* header-style */

/* sales-off-style */

.off-container {

    text-align: center;

}

.off-title {

    color: #FF0000;
    text-align: center;
    font-size: 88px;
}

.off-description {

    color: #FF0000;
    font-size: 20px;
    font-weight: 600;
}

.off-categories {

    font-size: 40px;
    font-weight: bold;
}

main {

    width: 1320px;
    margin: -50px auto;
}

.off-container {

    display: flex;
    flex-direction: column;
}

.off-container img {

    width: 700px;
    margin: 0px auto;
}

/* sales-off-style */

/* mid-night-style */

.mid-night-party {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    background-image: url("images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
}

.mid-night-container {

    padding: 126px 126px 298px 126px;
}

.mid-night-title {

    font-size: 64px;
    color: #fff;
    letter-spacing: 11%;
    line-height: 88px;
}

.mid-night-description {

    font-size: 18px;
    max-width: 700px;
    color: #fff;
}

.join {

    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 50px 30px;
}

/* mid-night-style */

/* place-styles */

.place-details {

    margin-top: -50px;
    background-image: linear-gradient(#FFE9E9, #fff);
    display: flex;
    flex-direction: column;
}

.place-container {

    margin: 100px auto;
    text-align: center;
}

.place-title, .place-date, .place-time {

    font-size: 28px;
    font-weight: 600;
    line-height: 20px;
}

.custom-color {

    color: red;
}

.btn-container {

    margin-top: 50px;
}

.join-btn {

    background-color: #FF0000;
    padding: 15px 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* place-styles */

/* best-offer-style */

.best-offer {

    margin: 100px auto;
}

.best-offer-container {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.content-container {

    max-width: 400px;
}

.best-offer-container img {

    max-width: 250px;
}

.best-offer-img-container {

    border: 15px solid red;
    padding: 20px;
    border-radius: 50%;
}

.best-offer-title {

    font-size: 24px;
    font-weight: 600;
    color: red;
}

.best-offer-heading {

    font-size: 48px;
    line-height: 20px;
}

.best-offer-description {

    font-size: 20px;
    color: #757575;
}

.best-offer-sub-heading {

    font-size: 48px;
    color: red;
    margin-bottom: -10px;
}

.best-offer-sub-description {

    font-size: 20px;
    color: #757575;
    line-height: 20px;
}

/* best-offer-style */